/* General styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

header {
  text-align: center;

  margin-bottom: 20px;
}

header h1 {
  font-size: 28px;
  margin: 50px 0 10px 0;
}

section {
  padding: 20px;
}

form {
  max-width: 600px;
  margin: 0 auto;
}

/* Improved radio button styles */
input[type="radio"] {
  margin-left: 10px;
  margin-right: 5px;
  margin-bottom: 8px;
  transform: translateY(2px);
}

/* Style for label text beside radio buttons */
form label {
  display: block;
  margin-bottom: 6px;
  margin-left: 30px;
}

/* Card styles for each question */
h3 {
  /* background: linear-gradient(135deg, #058ecc 0%, #012351 100%); */
  margin-top: 300px;
  border-bottom: 1px solid #058ecc;

  color: #000000;
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

/* Submit button styles */
input[type="submit"] {
  background-color: #058ecc;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 50px;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #012351;
}

/* quiz app network fall design  */
.popup {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 490px;
  border-radius: 5px;
  padding: 13px 17px 20px;
  background: white;
  display: flex;
  border-top: 3px solid blue;
  box-shadow: 0 10px 25px rgba(227, 227, 245, 0.719);
}

.popup .icon i {
  margin: 0;
  width: 40px;
  height: 40px;
  display: flex;
  color: white;
  margin-right: 15px;
  font-size: 1.2rem;
  align-items: center;
  justify-content: center;
  background-color: red;
  border-radius: 50%;
}
.popup .title {
  font-size: 1.2rem;
}
.pupup .desc {
  color: #473737;
  margin: 3px 0 10px;
  font-size: 1.04rem;
}
.popup .reconnect {
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.95rem;
  padding: 9px 15px;
  border-radius: 4px;
  background: #2b1fda;
  cursor: pointer;
}
button.reconnect:hover {
  opacity: 0.9;
}
